---
import SEO from "../components/SEO.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <SEO
    title="Alvinosh | Full Stack Developer"
    description="Alvinosh's personal website"
    keywords={["landing page", "landing"]}
    slot="head"
  />
</MainLayout>
<h1>Hello,</h1>
