---
import HorizontalSep from "./HorizontalSep.astro";
---

<footer class="mt-10 mb-20">
  <HorizontalSep class="text-comment" />
  <!-- standard copyright messgae -->
  <p class="text-center text-gray-500 text-xs">
    &copy;2023 <a target="_blank" class="hover:text-gray-900">Alvinosh</a> All
    rights reserved.
  </p>
</footer>
