<footer class="mt-10 mb-20">
  <p class="whitespace-nowrap overflow-hidden text-comment">
    -----------------------------------------------------------------------------------------------------------------------
  </p>

  <!-- standard copyright messgae -->
  <p class="text-center text-gray-500 text-xs">
    &copy;2023 <a target="_blank" class="hover:text-gray-900">Alvinosh</a> All
    rights reserved.
  </p>
</footer>
