---
const navItems = [
  {
    title: "Me",
    href: "/"
  },
  {
    title: "Contact",
    href: "/contact"
  }
]
---

<nav class="flex flex-row justify-center items-center p-2">
  <ul class="flex flex-row text-gray-300 font-serif">
    <li></li>
    {navItems.map((item) => 
      <li class= "p-1"><a class="p-1" href={item.href}>{item.title}</a></li>
    )}
  </ul>
</nav>
