---
const { class: className } = Astro.props;

const navItems = [
  {
    title: "Me",
    href: "/",
  },
  {
    title: "Contact",
    href: "/contact/",
  },
  {
    title: "Blog",
    href: "/blog/",
  },
  {
    title: "Projects",
    href: "/projects/",
  },
  {
    title: "Resume",
    href: "/resume/",
  },
];
---

<nav
  class:list={[
    "w-full flex bg-background flex-row justify-center items-center py-2",
    className,
  ]}
>
  <ul class="flex flex-row flex-wrap text-foreground font-serif">
    {
      navItems.map((item, i) => (
        <>
          <li
            class={`${item.href === Astro.url.pathname ? "text-yellow" : ""}`}
          >
            <a class="py-2 px-1" href={item.href}>
              {item.title}
            </a>{" "}
          </li>
          {i < navItems.length - 1 && (
            <li class="text-comment flex items-center">/</li>
          )}
        </>
      ))
    }
  </ul>
</nav>
