---
const { class: className } = Astro.props;
---

<p class={"whitespace-nowrap overflow-hidden " + className}>
  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</p>
