---
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
import SEO from "../components/SEO.astro";
import ThemePicker from "../components/ThemePicker.svelte";
import ThemeProvider from "../components/ThemeProvider.svelte";
import Footer from "../components/Footer.astro";

// import BackgroundWinter from "../components/BackgroundWinter.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO slot -->
    <slot name="head">
      <SEO />
    </slot>

    <script>
      import { themeStore } from "../nanostores/theme.ts";

      const defaultTheme = "dracula";

      const theme = localStorage.getItem("theme");
      if (!theme || theme === "none") {
        localStorage.setItem("theme", defaultTheme);
        document.body.setAttribute("data-theme", defaultTheme);
        themeStore.set(defaultTheme);
      } else {
        document.body.setAttribute("data-theme", theme);
      }
      document.body.style.display = "block";

      // subscribe to the theme store
      themeStore.subscribe((_) => {
        const theme = localStorage.getItem("theme");
        if (!theme || theme === "none") {
          themeStore.set("dracula");
        }
        document.body.setAttribute("data-theme", theme);
      });
    </script>

    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body
    style="display: none;"
    class="overflow-x-hidden overflow-y-auto bg-background w-screen min-h-screen pt-10"
  >
    <ThemeProvider client:load>
      <!-- <BackgroundWinter/> -->
      <Header class="fixed top-0" />
      <Container>
        <slot />
        <Footer />
      </Container>

      <ThemePicker client:idle className="fixed bottom-0 right-0" />
    </ThemeProvider>
  </body>
</html>
